{% extends 'base.html' %}
{% load static %}

{% block content %}

			<section id="events" class="ls section_padding_top_100 section_padding_bottom_100">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">

							<!-- Nav tabs -->
							<ul class="nav nav-tabs" role="tablist">
								<li class="active">
									<a href="#tab1" role="tab" data-toggle="tab">Past events</a>
								</li>
								<li>
									<a href="#tab2" role="tab" data-toggle="tab">Upcoming events</a>
								</li>
							</ul>

							<!-- Tab panes -->
							<div class="tab-content no-border top-color-border">
								<div class="tab-pane fade in active" id="tab1">

									<div class="row columns_padding_2">

										<div class="col-md-3 col-sm-6">
											<div class="vertical-item content-absolute vertical-center content-bg-hover cs">
												<div class="item-media">
													<img src="images/events/01.jpg" alt="">
													<div class="media-links">
														<a class="abs-link" href="event-single-right.html"></a>
													</div>
												</div>
												<div class="item-content">
													<!-- <div> -->
													<h3 class="margin_0">
														Holy Family Jumbo Advent Calendar
													</h3>

													<div class="cs hovered-content thin">
														<div class="media small-teaser">
															<div class="media-left">
																<i class="fa fa-calendar grey fontsize_16"></i>
															</div>
															<div class="media-body">
																Apr 30, 2017
															</div>
														</div>
														<div class="media small-teaser">
															<div class="media-left">
																<i class="fa fa-map-marker grey fontsize_16"></i>
															</div>
															<div class="media-body">
																London, UK
															</div>
														</div>
														<div class="media small-teaser">
															<div class="media-left">
																<i class="fa fa-phone grey fontsize_16"></i>
															</div>
															<div class="media-body">
																8 800 259 3489
															</div>
														</div>
													</div>
													<!-- </div> -->
												</div>
											</div>
										</div>

										<div class="col-md-3 col-sm-6">
											<div class="vertical-item content-absolute vertical-center content-bg-hover cs">
												<div class="item-media">
													<img src="images/events/02.jpg" alt="">
													<div class="media-links">
														<a class="abs-link" href="event-single-right.html"></a>
													</div>
												</div>
												<div class="item-content">
													<!-- <div> -->
													<h3 class="margin_0">
														Minutes of Your Fame
													</h3>

													<div class="cs hovered-content thin">
														<div class="media small-teaser">
															<div class="media-left">
																<i class="fa fa-calendar grey fontsize_16"></i>
															</div>
															<div class="media-body">
																Apr 30, 2017
															</div>
														</div>
														<div class="media small-teaser">
															<div class="media-left">
																<i class="fa fa-map-marker grey fontsize_16"></i>
															</div>
															<div class="media-body">
																London, UK
															</div>
														</div>
														<div class="media small-teaser">
															<div class="media-left">
																<i class="fa fa-phone grey fontsize_16"></i>
															</div>
															<div class="media-body">
																8 800 259 3489
															</div>
														</div>
													</div>
													<!-- </div> -->
												</div>
											</div>
										</div>

										<div class="col-md-3 col-sm-6">
											<div class="vertical-item content-absolute vertical-center content-bg-hover cs">
												<div class="item-media">
													<img src="images/events/03.jpg" alt="">
													<div class="media-links">
														<a class="abs-link" href="event-single-right.html"></a>
													</div>
												</div>
												<div class="item-content">
													<!-- <div> -->
													<h3 class="margin_0">
														The History of New Thought of Mankind
													</h3>

													<div class="cs hovered-content thin">
														<div class="media small-teaser">
															<div class="media-left">
																<i class="fa fa-calendar grey fontsize_16"></i>
															</div>
															<div class="media-body">
																Apr 30, 2017
															</div>
														</div>
														<div class="media small-teaser">
															<div class="media-left">
																<i class="fa fa-map-marker grey fontsize_16"></i>
															</div>
															<div class="media-body">
																London, UK
															</div>
														</div>
														<div class="media small-teaser">
															<div class="media-left">
																<i class="fa fa-phone grey fontsize_16"></i>
															</div>
															<div class="media-body">
																8 800 259 3489
															</div>
														</div>
													</div>
													<!-- </div> -->
												</div>
											</div>
										</div>

										<div class="col-md-3 col-sm-6">
											<div class="vertical-item content-absolute vertical-center content-bg-hover cs">
												<div class="item-media">
													<img src="images/events/04.jpg" alt="">
													<div class="media-links">
														<a class="abs-link" href="event-single-right.html"></a>
													</div>
												</div>
												<div class="item-content">
													<!-- <div> -->
													<h3 class="margin_0">
														Feeling the God Inside You
													</h3>

													<div class="cs hovered-content thin">
														<div class="media small-teaser">
															<div class="media-left">
																<i class="fa fa-calendar grey fontsize_16"></i>
															</div>
															<div class="media-body">
																Apr 30, 2017
															</div>
														</div>
														<div class="media small-teaser">
															<div class="media-left">
																<i class="fa fa-map-marker grey fontsize_16"></i>
															</div>
															<div class="media-body">
																London, UK
															</div>
														</div>
														<div class="media small-teaser">
															<div class="media-left">
																<i class="fa fa-phone grey fontsize_16"></i>
															</div>
															<div class="media-body">
																8 800 259 3489
															</div>
														</div>
													</div>
													<!-- </div> -->
												</div>
											</div>
										</div>

										<div class="col-md-3 col-sm-6">
											<div class="vertical-item content-absolute vertical-center content-bg-hover cs">
												<div class="item-media">
													<img src="images/events/05.jpg" alt="">
													<div class="media-links">
														<a class="abs-link" href="event-single-right.html"></a>
													</div>
												</div>
												<div class="item-content">
													<!-- <div> -->
													<h3 class="margin_0">
														Series: Let’s Do It God’s Way
													</h3>

													<div class="cs hovered-content thin">
														<div class="media small-teaser">
															<div class="media-left">
																<i class="fa fa-calendar grey fontsize_16"></i>
															</div>
															<div class="media-body">
																Apr 30, 2017
															</div>
														</div>
														<div class="media small-teaser">
															<div class="media-left">
																<i class="fa fa-map-marker grey fontsize_16"></i>
															</div>
															<div class="media-body">
																London, UK
															</div>
														</div>
														<div class="media small-teaser">
															<div class="media-left">
																<i class="fa fa-phone grey fontsize_16"></i>
															</div>
															<div class="media-body">
																8 800 259 3489
															</div>
														</div>
													</div>
													<!-- </div> -->
												</div>
											</div>
										</div>

										<div class="col-md-3 col-sm-6">
											<div class="vertical-item content-absolute vertical-center content-bg-hover cs">
												<div class="item-media">
													<img src="images/events/06.jpg" alt="">
													<div class="media-links">
														<a class="abs-link" href="event-single-right.html"></a>
													</div>
												</div>
												<div class="item-content">
													<!-- <div> -->
													<h3 class="margin_0">
														Developing A Spiritual Mentality
													</h3>

													<div class="cs hovered-content thin">
														<div class="media small-teaser">
															<div class="media-left">
																<i class="fa fa-calendar grey fontsize_16"></i>
															</div>
															<div class="media-body">
																Apr 30, 2017
															</div>
														</div>
														<div class="media small-teaser">
															<div class="media-left">
																<i class="fa fa-map-marker grey fontsize_16"></i>
															</div>
															<div class="media-body">
																London, UK
															</div>
														</div>
														<div class="media small-teaser">
															<div class="media-left">
																<i class="fa fa-phone grey fontsize_16"></i>
															</div>
															<div class="media-body">
																8 800 259 3489
															</div>
														</div>
													</div>
													<!-- </div> -->
												</div>
											</div>
										</div>

										<div class="col-md-3 col-sm-6">
											<div class="vertical-item content-absolute vertical-center content-bg-hover cs">
												<div class="item-media">
													<img src="images/events/07.jpg" alt="">
													<div class="media-links">
														<a class="abs-link" href="event-single-right.html"></a>
													</div>
												</div>
												<div class="item-content">
													<!-- <div> -->
													<h3 class="margin_0">
														Perseverance of the Saints
													</h3>

													<div class="cs hovered-content thin">
														<div class="media small-teaser">
															<div class="media-left">
																<i class="fa fa-calendar grey fontsize_16"></i>
															</div>
															<div class="media-body">
																Apr 30, 2017
															</div>
														</div>
														<div class="media small-teaser">
															<div class="media-left">
																<i class="fa fa-map-marker grey fontsize_16"></i>
															</div>
															<div class="media-body">
																London, UK
															</div>
														</div>
														<div class="media small-teaser">
															<div class="media-left">
																<i class="fa fa-phone grey fontsize_16"></i>
															</div>
															<div class="media-body">
																8 800 259 3489
															</div>
														</div>
													</div>
													<!-- </div> -->
												</div>
											</div>
										</div>

										<div class="col-md-3 col-sm-6">
											<div class="vertical-item content-absolute vertical-center content-bg-hover cs">
												<div class="item-media">
													<img src="images/events/08.jpg" alt="">
													<div class="media-links">
														<a class="abs-link" href="event-single-right.html"></a>
													</div>
												</div>
												<div class="item-content">
													<!-- <div> -->
													<h3 class="margin_0">
														Church Movie Fellowship
													</h3>

													<div class="cs hovered-content thin">
														<div class="media small-teaser">
															<div class="media-left">
																<i class="fa fa-calendar grey fontsize_16"></i>
															</div>
															<div class="media-body">
																Apr 30, 2017
															</div>
														</div>
														<div class="media small-teaser">
															<div class="media-left">
																<i class="fa fa-map-marker grey fontsize_16"></i>
															</div>
															<div class="media-body">
																London, UK
															</div>
														</div>
														<div class="media small-teaser">
															<div class="media-left">
																<i class="fa fa-phone grey fontsize_16"></i>
															</div>
															<div class="media-body">
																8 800 259 3489
															</div>
														</div>
													</div>
													<!-- </div> -->
												</div>
											</div>
										</div>

									</div>
									<!-- .row -->

								</div>
								<div class="tab-pane fade" id="tab2">

									<div class="row columns_padding_2">


										<div class="col-md-3 col-sm-6">
											<div class="vertical-item content-absolute vertical-center content-bg-hover cs">
												<div class="item-media">
													<img src="images/events/01.jpg" alt="">
													<div class="media-links">
														<a class="abs-link" href="event-single-right.html"></a>
													</div>
												</div>
												<div class="item-content">
													<!-- <div> -->
													<h3 class="margin_0">
														Holy Family Jumbo Advent Calendar
													</h3>

													<div class="cs hovered-content thin">
														<div class="media small-teaser">
															<div class="media-left">
																<i class="fa fa-calendar grey fontsize_16"></i>
															</div>
															<div class="media-body">
																Apr 30, 2017
															</div>
														</div>
														<div class="media small-teaser">
															<div class="media-left">
																<i class="fa fa-map-marker grey fontsize_16"></i>
															</div>
															<div class="media-body">
																London, UK
															</div>
														</div>
														<div class="media small-teaser">
															<div class="media-left">
																<i class="fa fa-phone grey fontsize_16"></i>
															</div>
															<div class="media-body">
																8 800 259 3489
															</div>
														</div>
													</div>
													<!-- </div> -->
												</div>
											</div>
										</div>

										<div class="col-md-3 col-sm-6">
											<div class="vertical-item content-absolute vertical-center content-bg-hover cs">
												<div class="item-media">
													<img src="images/events/02.jpg" alt="">
													<div class="media-links">
														<a class="abs-link" href="event-single-right.html"></a>
													</div>
												</div>
												<div class="item-content">
													<!-- <div> -->
													<h3 class="margin_0">
														Minutes of Your Fame
													</h3>

													<div class="cs hovered-content thin">
														<div class="media small-teaser">
															<div class="media-left">
																<i class="fa fa-calendar grey fontsize_16"></i>
															</div>
															<div class="media-body">
																Apr 30, 2017
															</div>
														</div>
														<div class="media small-teaser">
															<div class="media-left">
																<i class="fa fa-map-marker grey fontsize_16"></i>
															</div>
															<div class="media-body">
																London, UK
															</div>
														</div>
														<div class="media small-teaser">
															<div class="media-left">
																<i class="fa fa-phone grey fontsize_16"></i>
															</div>
															<div class="media-body">
																8 800 259 3489
															</div>
														</div>
													</div>
													<!-- </div> -->
												</div>
											</div>
										</div>

										<div class="col-md-3 col-sm-6">
											<div class="vertical-item content-absolute vertical-center content-bg-hover cs">
												<div class="item-media">
													<img src="images/events/03.jpg" alt="">
													<div class="media-links">
														<a class="abs-link" href="event-single-right.html"></a>
													</div>
												</div>
												<div class="item-content">
													<!-- <div> -->
													<h3 class="margin_0">
														The History of New Thought of Mankind
													</h3>

													<div class="cs hovered-content thin">
														<div class="media small-teaser">
															<div class="media-left">
																<i class="fa fa-calendar grey fontsize_16"></i>
															</div>
															<div class="media-body">
																Apr 30, 2017
															</div>
														</div>
														<div class="media small-teaser">
															<div class="media-left">
																<i class="fa fa-map-marker grey fontsize_16"></i>
															</div>
															<div class="media-body">
																London, UK
															</div>
														</div>
														<div class="media small-teaser">
															<div class="media-left">
																<i class="fa fa-phone grey fontsize_16"></i>
															</div>
															<div class="media-body">
																8 800 259 3489
															</div>
														</div>
													</div>
													<!-- </div> -->
												</div>
											</div>
										</div>

										<div class="col-md-3 col-sm-6">
											<div class="vertical-item content-absolute vertical-center content-bg-hover cs">
												<div class="item-media">
													<img src="images/events/04.jpg" alt="">
													<div class="media-links">
														<a class="abs-link" href="event-single-right.html"></a>
													</div>
												</div>
												<div class="item-content">
													<!-- <div> -->
													<h3 class="margin_0">
														Feeling the God Inside You
													</h3>

													<div class="cs hovered-content thin">
														<div class="media small-teaser">
															<div class="media-left">
																<i class="fa fa-calendar grey fontsize_16"></i>
															</div>
															<div class="media-body">
																Apr 30, 2017
															</div>
														</div>
														<div class="media small-teaser">
															<div class="media-left">
																<i class="fa fa-map-marker grey fontsize_16"></i>
															</div>
															<div class="media-body">
																London, UK
															</div>
														</div>
														<div class="media small-teaser">
															<div class="media-left">
																<i class="fa fa-phone grey fontsize_16"></i>
															</div>
															<div class="media-body">
																8 800 259 3489
															</div>
														</div>
													</div>
													<!-- </div> -->
												</div>
											</div>
										</div>

										<div class="col-md-3 col-sm-6">
											<div class="vertical-item content-absolute vertical-center content-bg-hover cs">
												<div class="item-media">
													<img src="images/events/05.jpg" alt="">
													<div class="media-links">
														<a class="abs-link" href="event-single-right.html"></a>
													</div>
												</div>
												<div class="item-content">
													<!-- <div> -->
													<h3 class="margin_0">
														Series: Let’s Do It God’s Way
													</h3>

													<div class="cs hovered-content thin">
														<div class="media small-teaser">
															<div class="media-left">
																<i class="fa fa-calendar grey fontsize_16"></i>
															</div>
															<div class="media-body">
																Apr 30, 2017
															</div>
														</div>
														<div class="media small-teaser">
															<div class="media-left">
																<i class="fa fa-map-marker grey fontsize_16"></i>
															</div>
															<div class="media-body">
																London, UK
															</div>
														</div>
														<div class="media small-teaser">
															<div class="media-left">
																<i class="fa fa-phone grey fontsize_16"></i>
															</div>
															<div class="media-body">
																8 800 259 3489
															</div>
														</div>
													</div>
													<!-- </div> -->
												</div>
											</div>
										</div>

										<div class="col-md-3 col-sm-6">
											<div class="vertical-item content-absolute vertical-center content-bg-hover cs">
												<div class="item-media">
													<img src="images/events/06.jpg" alt="">
													<div class="media-links">
														<a class="abs-link" href="event-single-right.html"></a>
													</div>
												</div>
												<div class="item-content">
													<!-- <div> -->
													<h3 class="margin_0">
														Developing A Spiritual Mentality
													</h3>

													<div class="cs hovered-content thin">
														<div class="media small-teaser">
															<div class="media-left">
																<i class="fa fa-calendar grey fontsize_16"></i>
															</div>
															<div class="media-body">
																Apr 30, 2017
															</div>
														</div>
														<div class="media small-teaser">
															<div class="media-left">
																<i class="fa fa-map-marker grey fontsize_16"></i>
															</div>
															<div class="media-body">
																London, UK
															</div>
														</div>
														<div class="media small-teaser">
															<div class="media-left">
																<i class="fa fa-phone grey fontsize_16"></i>
															</div>
															<div class="media-body">
																8 800 259 3489
															</div>
														</div>
													</div>
													<!-- </div> -->
												</div>
											</div>
										</div>

										<div class="col-md-3 col-sm-6">
											<div class="vertical-item content-absolute vertical-center content-bg-hover cs">
												<div class="item-media">
													<img src="images/events/07.jpg" alt="">
													<div class="media-links">
														<a class="abs-link" href="event-single-right.html"></a>
													</div>
												</div>
												<div class="item-content">
													<!-- <div> -->
													<h3 class="margin_0">
														Perseverance of the Saints
													</h3>

													<div class="cs hovered-content thin">
														<div class="media small-teaser">
															<div class="media-left">
																<i class="fa fa-calendar grey fontsize_16"></i>
															</div>
															<div class="media-body">
																Apr 30, 2017
															</div>
														</div>
														<div class="media small-teaser">
															<div class="media-left">
																<i class="fa fa-map-marker grey fontsize_16"></i>
															</div>
															<div class="media-body">
																London, UK
															</div>
														</div>
														<div class="media small-teaser">
															<div class="media-left">
																<i class="fa fa-phone grey fontsize_16"></i>
															</div>
															<div class="media-body">
																8 800 259 3489
															</div>
														</div>
													</div>
													<!-- </div> -->
												</div>
											</div>
										</div>

										<div class="col-md-3 col-sm-6">
											<div class="vertical-item content-absolute vertical-center content-bg-hover cs">
												<div class="item-media">
													<img src="images/events/08.jpg" alt="">
													<div class="media-links">
														<a class="abs-link" href="event-single-right.html"></a>
													</div>
												</div>
												<div class="item-content">
													<!-- <div> -->
													<h3 class="margin_0">
														Church Movie Fellowship
													</h3>

													<div class="cs hovered-content thin">
														<div class="media small-teaser">
															<div class="media-left">
																<i class="fa fa-calendar grey fontsize_16"></i>
															</div>
															<div class="media-body">
																Apr 30, 2017
															</div>
														</div>
														<div class="media small-teaser">
															<div class="media-left">
																<i class="fa fa-map-marker grey fontsize_16"></i>
															</div>
															<div class="media-body">
																London, UK
															</div>
														</div>
														<div class="media small-teaser">
															<div class="media-left">
																<i class="fa fa-phone grey fontsize_16"></i>
															</div>
															<div class="media-body">
																8 800 259 3489
															</div>
														</div>
													</div>
													<!-- </div> -->
												</div>
											</div>
										</div>


									</div>

								</div>

							</div>

						</div>
					</div>
				</div>
			</section>

{% endblock %}
